[credential "helperselector"]
	selected = <no helper>
[user]
	email = souvlaki420@gmail.com
	name = Souvlaki42
[init]
	defaultBranch = main
[push]
    	autoSetupRemote = true
	default = current
[core]
	autocrlf = false
	safecrlf = true
	editor = code --wait
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[alias]
	st = status -s
	sta = status
	conf = config --global --edit
	undo = reset --soft HEAD^
	ci = commit
	co = checkout
	cod = checkout .
	rh = reset HEAD
	aa = add -A
	cdf = clean -df
	pr = pull --rebase
	br = branch
	bra = branch -a
	amend = commit -a --amend --no-edit
	pfl = push --force-with-lease
	open = !powershell -c gh repo view --web
[credential]
	helper = manager